@charset "utf-8";

/**
 * 공통 컴포넌트 스타일
 */



/*
    패널
*/
.panel {
    width: 100%;
    padding: var(--spacing-xxxl);
    border: 1px solid var(--border-color);
    border-radius: var(--rounded-corner);
    background-color: var(--white);
}

.panel-heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: var(--text-xxl);
    color: var(--secondary-color);
}

.panel-heading-title {
    color: var(--secondary-color);
    font-size: var(--text-xl);
}

.panel-heading-title.title-lang-ko {
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: var(--text-xl);
}

.panel-heading-title.title-lang-en {
    font-family: 'Montserrat-Black', sans-serif;
    font-size: var(--text-xl);
}

.panel-heading-subtitle {
    margin-top: var(--spacing-lg);
    color: var(--secondary-color);
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: var(--text-base-size);
}

.panel-body {
    margin-top: var(--spacing-xxxl);
}



/*
    버튼
*/

/* 공통 */
.btn {
    border-radius: var(--rounded-corner);
    border: 1px solid var(--border-color);
}

.btn > .button {
    width: 100%;
    height: var(--contains-intrinsic-height);
    line-height: var(--contains-intrinsic-height);
    color: inherit;
    font-family: 'Pretendard-Medium', sans-serif;
}


/* 색상 */
.btn-primary {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white);
}

.btn-secondary {
    border-color: var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white);
}