@charset "utf-8";

/**
 * 공통 웹 레이아웃 스타일
 */



/*
    전체 페이지 영역
*/
#page_container {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*
    본문
*/
#container {
    flex: 1;
}


/* 메인 컨텐츠 */
.contents {
    width: 66%;
}

.content-heading {
    width: 100%;
    margin-bottom: var(--spacing-xl);
    color: var(--primary-color);
    font-family: 'FugazOne', sans-serif;
    font-size: var(--text-xl);
}