@charset "utf-8";

/**
 * 웹 공통 레이아웃 스타일 정의
 */



/*===========================================================================================
    || 전체 영역
===========================================================================================*/
#page_container {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*===========================================================================================
    || 본문 영역
===========================================================================================*/
#container {
    flex: 1;
}

#container_heading {
    width: 100%;
    margin-bottom: var(--spacing-xxl);
    text-align: center;
}



/*===========================================================================================
    || 메인 컨텐츠 영역
===========================================================================================*/
.contents {
    width: 66%;
}

.content-heading {
    margin-bottom: var(--spacing-xl);
}

.content-heading > .content-heading-title {
    color: var(--secondary-color);
    font-family: 'Pretendard-Medium', sans-serif;
    font-size: var(--font-xl);
}

.content-heading > .content-heading-subtitle {
    margin-top: var(--spacing-md);
    color: var(--light-color);
    font-size: var(--font-sm);
}



/*===========================================================================================
    || 좌측 사이드 메뉴
===========================================================================================*/





/*===========================================================================================
    || 푸터 영역
===========================================================================================*/
