@charset "utf-8";

/**
 * 사용자 정의 CSS 변수
 */



:root {
    /* 색상 */
    --primary-color: #3032A9;
    --secondary-color: #474656;
    --success-color: #18B57A;
    --warning-color: #FCBF66;
    --danger-color: #E15F68;
    --link-color: #4798F7;
    --border-color: #CED3D9;
    --disabled-color: #ECECEC;
    --light-color: #FAFBFD;
    --dark-color: #272C39;
    
    --white: #FFFFFF;
    --gray: #717179;
    --black: #0E0E0E;
    

    /* 간격 */
    --spacing-base: 4px;

    --spacing-xxxs: 2px;
    --spacing-xxs: 6px;
    --spacing-xs: 10px;

    --spacing-sm: 14px;
    --spacing-md: 18px;
    --spacing-lg: 22px;

    --spacing-xl: 26px;
    --spacing-xxl: 30px;
    --spacing-xxxl: 34px;


    /* 텍스트 */
    --text-base-size: 13px;

    --text-sm: 12px;
    --text-md: 16px;
    --text-lg: 20px;

    --text-xl: 24px;
    --text-xxl: 28px;


    /* 아이콘 */
    --icon-base-size: 12px;

    --icon-sm: 10px;
    --icon-md: 14px;
    --icon-lg: 18px;

    --icon-xl: 22px;
    --icon-xxl: 26px;

    --input-icon-pos-top: 16px;
    --input-icon-pos-right: 12px;

    --x-axis-button-icon: 16px;
    --y-axis-button-icon: 6px;


    /* 컴포넌트 */
    --rounded-corner: 2.8px;
    --contains-intrinsic-height: 24px;
}