<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOPL</title>

    <!-- font icon css library -->
    <link rel="stylesheet" href="/css/common/lib/fontello/css/fontello.css">

    <!-- common css files -->
    <link rel="stylesheet" href="/css/common/reset.css">
    <link rel="stylesheet" href="/css/common/variables.css">
    <link rel="stylesheet" href="/css/common/typography.css">
    <link rel="stylesheet" href="/css/common/global.css">
    <link rel="stylesheet" href="/css/common/layout.css">
    <link rel="stylesheet" href="/css/common/components.css">
</head>
</html>